weatherapp/target/classes/com/jo/weatherapp/WeatherappApplication.class
weatherapp/target/classes/com/jo/weatherapp/controller/WeatherController.class
weatherapp/target/classes/com/jo/weatherapp/service/WeatherService.class
weatherapp/target/classes/com/jo/weatherapp/dto/WeatherResponse.class
weatherapp/target/classes/application.properties
